* {
  margin: 0;
  padding: 0;
}

@font-face {
  * {
    font-family: 'Myriad Pro';
    src: url("font/Myriad-Pro.ttf");
  }
}

body {
  min-height: 100vh;
  background-color: #e5e5e5;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: -1px;
}

.Navigation {
  width: 96%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.Navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation .nav .logo {
  width: 45px;
  height: 45px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 45px;
  margin-right: 30px;
}

.Navigation .nav a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
}

.Navigation .basket_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation .basket_component .user {
  position: relative;
}

.Navigation .basket_component .user:before {
  content: "";
  position: absolute;
  background-image: url("img/person.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 105%;
  width: 15px;
  height: 15px;
  left: -20px;
}

.Navigation .basket_component .user a {
  color: #ffa200;
  text-transform: lowercase;
  text-decoration: none;
}

.Navigation .basket_component .basket {
  margin-left: 40px;
  position: relative;
  color: black;
  text-decoration: none;
}

.Navigation .basket_component .basket:before {
  content: "";
  position: absolute;
  background-image: url("img/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 105%;
  width: 15px;
  height: 15px;
  left: -20px;
}

.headerMain {
  padding-top: 150px;
  padding-bottom: 50px;
}

.headerMain h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Myriad Pro";
}

.headerMain h3 {
  font-size: 24px;
  font-family: "Georgia";
  text-align: center;
  font-weight: normal;
  color: #959595;
}

.headerMain a {
  margin: 70px auto;
  width: 30%;
  margin-bottom: 0;
  display: block;
  text-align: center;
  padding: 25px 45px;
  border: 1px solid #959595;
  color: #959595;
  text-transform: uppercase;
  text-decoration: none;
}

.advertisingLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  margin: 0 auto;
}

.advertisingLink .advertisingLinkDiv {
  width: 25%;
  height: 885px;
}

.advertisingLink .advertisingLinkDiv a {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.advertisingLink .advertisingLinkDiv .jeansJacket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 590px;
  background-image: url("img/advertising/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.advertisingLink .advertisingLinkDiv .jeansJacket div {
  margin: auto auto;
}

.advertisingLink .advertisingLinkDiv .accessories {
  display: block;
  height: 295px;
  background-image: url("img/advertising/5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.advertisingLink .advertisingLinkDiv .infoBlok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbbbbb;
  height: 295px;
  font-size: 14px;
  font-family: "Georgia";
  line-height: 1.4;
  color: white;
  font-style: italic;
  text-align: center;
}

.advertisingLink .advertisingLinkDiv .infoBlok .container {
  width: 62%;
}

.advertisingLink .advertisingLinkDiv .infoBlok .container .logo {
  height: 35px;
  background-image: url("img/advertising/attention-sign-outline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  position: relative;
}

.advertisingLink .advertisingLinkDiv .infoBlok .container .logo:after {
  content: '';
  width: 23px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 40px;
}

.advertisingLink .advertisingLinkDiv .infoBlok .container .logo:before {
  content: '';
  width: 23px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 15px;
  right: 40px;
}

.advertisingLink .advertisingLinkDiv .pointerLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #606060;
  height: 295px;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.advertisingLink .advertisingLinkDiv .pointerLink p {
  position: relative;
}

.advertisingLink .advertisingLinkDiv .pointerLink p:before {
  content: '';
  position: absolute;
  padding: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -78%;
  left: 42%;
}

.advertisingLink .advertisingLinkDiv .pointerLink p:after {
  content: '';
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: white;
  top: -64%;
  left: 42%;
}

.advertisingLink .advertisingLinkDiv .jeans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/advertising/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 295px;
}

.advertisingLink .advertisingLinkDiv .jeans .description {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advertisingLink .advertisingLinkDiv .jeans .price {
  text-transform: lowercase;
}

.advertisingLink .advertisingLinkDiv .shoots {
  display: block;
  background-image: url("img/advertising/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 295px;
}

.advertisingLink .advertisingLinkDiv .sportClothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/advertising/7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 295px;
  position: relative;
  z-index: 1;
  color: white;
}

.advertisingLink .advertisingLinkDiv .sportClothes .description {
  text-transform: uppercase;
  margin-bottom: 10px;
  z-index: 2;
}

.advertisingLink .advertisingLinkDiv .sportClothes .price {
  text-transform: lowercase;
  z-index: 2;
}

.advertisingLink .advertisingLinkDiv .sportClothes::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000005c;
  top: 0;
  left: 0;
}

.advertisingLink .pointerLink2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #606060;
  height: 295px;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.advertisingLink .pointerLink2 p {
  position: relative;
}

.advertisingLink .pointerLink2 p:before {
  content: '';
  position: absolute;
  padding: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -34%;
  left: 42%;
}

.advertisingLink .pointerLink2 p:after {
  content: '';
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: white;
  top: -30%;
  left: 42%;
}

.advertisingLink .pointerLink2 span {
  font-style: italic;
}

.advertisingLink .children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 590px;
  background-image: url("img/advertising/4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.advertisingLink .children div {
  margin: auto auto;
}

.formEmail {
  width: 96%;
  margin: 245px auto;
}

.formEmail h2 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: #303030;
  text-transform: uppercase;
  text-align: center;
}

.formEmail h3 {
  font-size: 18px;
  font-family: "Georgia";
  color: #606060;
  font-style: italic;
  text-align: center;
}

.formEmail form {
  width: 55%;
  margin: 20px auto;
}

.formEmail form input {
  width: 60%;
  padding: 2%;
}

.formEmail form button {
  width: 30%;
  padding: 2%;
  background-color: #f68236;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: white;
}

.formEmail form p {
  font-size: 14px;
  font-family: "Myriad Pro";
  text-align: center;
  margin-top: 10px;
}

.formEmail form .red {
  color: #ed1c24;
}

.formEmail form .green {
  color: green;
}

footer {
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #303030;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer a {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #303030;
  text-decoration: none;
  margin-bottom: 15px;
}

footer a:hover {
  text-decoration: underline;
}

footer .catolog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  border-right: 2px solid #eaeaea;
}

footer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  border-right: 2px solid #eaeaea;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

footer .social p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #303030;
  margin-bottom: 15px;
}

footer .social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social .link a {
  display: block;
  padding: 5px;
  border: 1px solid #606060;
  text-align: center;
  width: 16px;
  height: 16px;
}

.goodsCard {
  width: 90%;
  margin: 0 auto;
  margin-top: -31px;
}

.goodsCard .breadCrumb {
  margin: 50px auto;
  width: 100%;
}

.goodsCard .breadCrumb a {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #606060;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin: 0 10px;
}

.goodsCard .breadCrumb a:hover {
  text-decoration: underline;
}

.goodsCard .tag {
  margin-top: 30px;
  margin-bottom: 75px;
}

.goodsCard .tag a {
  color: #606060;
  text-decoration: none;
  text-transform: uppercase;
}

.goodsCard .tag span {
  margin: 0 4px;
}

.goodsCard h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.goodsCard p {
  text-align: center;
  margin-bottom: 75px;
}

.goodsCard .Selector {
  margin-bottom: 65px;
}

.goodsCard .Selector form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goodsCard .Selector form select {
  width: 180px;
  margin-left: 25px;
  border: none;
  border-bottom: 1px solid #606060;
}

.goodsCard .cardsGood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goodsCard .cardsGood .cardGood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  margin: 20px 0;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: black;
}

.goodsCard .cardsGood .cardGood a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
}

.product .breadCrumb {
  margin: 50px auto;
  width: 100%;
}

.product .breadCrumb a {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #606060;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin: 0 10px;
}

.product .breadCrumb a:hover {
  text-decoration: underline;
}

.product .itemCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Myriad Pro";
  text-transform: uppercase;
  margin-bottom: 100px;
}

.product .itemCard img {
  display: block;
  margin: 0 auto;
}

.product .itemCard h1 {
  margin-top: 20px;
  font-size: 36px;
  color: #303030;
}

.product .itemCard p {
  text-align: center;
  font-family: "Myriad Pro";
  font-size: 12px;
  text-transform: uppercase;
  color: #d7d7d7;
}

.product .itemCard h4 {
  margin-top: 20px;
  font-size: 14px;
  color: #bfbfbf;
}

.product .itemCard h3 {
  margin-top: 20px;
  font-size: 14px;
  color: #606060;
  font-weight: normal;
  text-transform: none;
}

.product .itemCard .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.product .itemCard .size div {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #959595;
  color: #959595;
}

.product .itemCard a {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f68236;
  text-decoration: none;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 30px;
}

.basketUser {
  margin: 100px auto;
}

.basketUser h1 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: #303030;
  text-transform: uppercase;
  text-align: center;
}

.basketUser h2 {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Myriad Pro";
  color: #6e6e6e;
  text-align: center;
}

.basketUser .table {
  width: 96%;
  margin: 0 auto;
}

.basketUser .table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basketUser .table .tr .img {
  width: 10%;
}

.basketUser .table .tr .name {
  width: 40%;
}

.basketUser .table .tr .size {
  width: 10%;
}

.basketUser .table .tr .count {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basketUser .table .tr .count .countVal {
  font-size: 20px;
}

.basketUser .table .tr .count .fun {
  margin-left: 20px;
}

.basketUser .table .tr .count .fun .plus {
  font-size: 12px;
  color: white;
  background-color: #303030;
  padding: 5px 7px;
  cursor: pointer;
  margin-bottom: 10px;
}

.basketUser .table .tr .count .fun .minus {
  font-size: 12px;
  color: white;
  background-color: #303030;
  padding: 5px 7px;
  cursor: pointer;
}

.basketUser .table .tr .price {
  width: 20%;
}

.basketUser .table .tr .delet {
  width: 5%;
  text-align: center;
  cursor: pointer;
}

.paginator {
  width: 12%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.paginator .activ {
  padding: 12px;
  color: black;
  text-decoration: none;
  border: 1px black solid;
}

.paginator .next {
  padding: 13px;
  color: white;
  text-decoration: none;
  background-color: black;
  -webkit-transform: all 3000ms;
          transform: all 3000ms;
}

.paginator .next:hover {
  padding: 12px;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 1px black solid;
}
/*# sourceMappingURL=style.css.map */